/* CSS Document */
a {
  color: #ffd500;
  text-decoration: underline;
}

img {
  display: block;
}

var {
  font-style: normal;
  display: inline-block;
}

body {
  margin: 0;
  background: #293366;
}
body.menuTrue {
  pointer-events: none;
}

#mainBox {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#header {
  position: relative;
}
#header > div {
  position: absolute;
  width: 100%;
}
#header #bgBox {
  overflow: hidden;
  position: relative;
}
#header #bgBox img {
  position: relative;
  left: 50%;
  margin-left: -960px;
  min-height: 480px;
}
body.w768 #header #bgBox img {
  margin-left: -384px;
}
#header #logo {
  top: 20px;
  left: 0;
}
#header #logo img {
  width: 150px;
  margin: auto;
}
body.w768 #header #logo img {
  width: 96px;
}
#header #offerBox {
  top: 0;
  left: 0;
  height: 100%;
}
#header #offerBox .wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
#header #offerBox .offer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
body.w768 #header #offerBox .offer {
  position: relative;
  top: -60px;
}
#header .offer .frame {
  max-width: 500px;
  margin: 0px auto 0;
}
#header .offer .frame div {
  padding: 10px;
}
#header .offer .frame .txt {
  margin-bottom: 15px;
}
#header .offer .txt var {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-shadow: 0px 0px 2px #000;
}
#header .offer .txt p {
  margin: 1px;
}
#header .offer .cta a {
  display: inline-block;
  background: #ffd500;
  color: #293366;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  min-width: 120px;
  border-radius: 15px;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -ms-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
#header .offer .cta a:hover {
  opacity: 0.6;
}

#affLogo {
  position: relative;
  top: 30px;
}
#affLogo a {
  display: inline-block;
}
#affLogo a img {
  max-height: 80px;
}

#steps {
  text-align: center;
  padding: 10px 5px 2px 5px;
  background: #1d2340;
}
#steps .wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body.w768 #steps > .wrapper,
body.w946 #steps > .wrapper {
  max-width: 380px;
}
#steps .step {
  display: inline-block;
  position: relative;
  margin: 5px;
  width: 320px;
}
#steps .step img {
  opacity: 0.9;
}
#steps .step:hover img {
  opacity: 1;
}
#steps .step .stepTxt {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#steps .step .wrapper {
  height: 100%;
  width: 100%;
  display: table;
}
#steps .step .txt {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  color: #fff;
  padding: 30px 30px 30px 130px;
}
#steps .step .txt {
  font-size: 18px;
  /*font-weight: 700;*/
  line-height: 120%;
}
#steps .step .txt .stepTitle var {
  font-size: 24px;
  line-height: 100%;
  color: #ffd500;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 30px;
}
#steps .step .txt .stepTitle {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: left;
  justify-content: left;
  margin-bottom: 3px;
}
#steps .step .txt .stepTitle span {
  font-size: 60px;
  text-align: center;
  line-height: 48px;
  font-family: "Baloo Paaji";
  line-height: 0.7em;
  margin-right: 2px;
}
#steps .step .txt .stepTitle.green {
  color: #a2ff00;
}
#steps .step .txt .stepTitle.pink {
  color: #ff1d82;
}
#steps .step .txt .stepTitle.purple {
  color: #c202f1;
}
#steps .step .txt var {
  text-align: center;
  width: 145px;
  display: block;
  text-align: left;
}
#steps .step .txt var#desc {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  display: block;
  font-family: "Open Sans", sans-serif;
  line-height: 14px;
  text-align: left;
  text-transform: none;
}

#footer {
  padding: 30px 0;
  max-width: 930px;
  margin: auto;
  box-sizing: border-box;
}
#footer div {
  padding: 12px;
  text-align: center;
}
#footer #icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer img {
  padding: 10px;
  display: inline-block;
  max-height: 26px;
}
#footer #logos {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#footer #licenceInfo {
  color: #cfd2e6;
}

#menuBtn {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  display: none;
}
.loginButton {
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 15px;
}
.loginButton a {
  display: block;
  width: 122px;
  height: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #ffd500;
  border-radius: 15px;
  border: 1px solid #ffd500;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 18px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  transition: all;
  -moz-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.loginButton a:hover {
  background: #ffd500;
  color: #293366;
}
#menuBtn .wrapper {
  max-width: 950px;
  margin: auto;
  overflow: hidden;
}
#menuBtn a {
  background: rgba(255, 157, 11, 1);
  float: right;
  margin-right: 15px;
  padding: 6px 8px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}
#menuBtn a:hover {
  background: rgba(215, 129, 0, 1);
}

#menuBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#menuBox > .wrapper {
  max-width: 950px;
  margin: auto;
  height: 100%;
}
#menuBox .items {
  /*width: 320px;*/
  float: right;
  /*height: 100%;*/
  overflow: auto;
  position: relative;
  top: 10px;
  right: 12px;
  padding-top: 40px;
}
#menuBox .items .wrapper {
  background: rgba(26, 26, 26, 0.9);
  padding: 12px;
}
#menuBox ul {
  max-width: 170px;
  margin: 0 auto;
  padding: 10px 10px 0;
  list-style: none;
}
#menuBox li {
  padding: 4px 0;
  text-align: right;
}
#menuBox li a {
  text-decoration: none;
  font-size: 16px;
  line-height: normal;
  display: block;
  padding: 4px 8px 4px 4px;
  color: #bfbfbf;
  max-width: 180px;
  font-style: italic;
}
#menuBox li a:hover {
  color: #fff;
  background: rgba(255, 157, 11, 1);
}
#menuBox a b {
  color: #fff;
}
#menuBox a:hover b {
  color: #fff;
}

#closeMenu {
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
}
#closeMenu .wrapper {
  overflow: hidden;
  max-width: 950px;
  margin: auto;
}
#closeMenu a {
  float: right;
  background: rgba(255, 157, 11, 1);
  padding: 6px;
  border-radius: 2px;
  margin-right: 20px;
}
#closeMenu a:hover {
  background: rgba(215, 129, 0, 1);
}

body.init {
  display: none;
}
body.menuTrue #menuBox {
  display: block;
  pointer-events: all;
}

#termsBox > div {
  text-align: left;
  color: #cfd2e6;
  font-size: 14px;
  line-height: normal;
}
#termsBox h2 {
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  margin: 35px 0 14px;
  font-weight: 700;
  color: #fff;
  line-height: 120%;
}
#termsBox table {
  color: #cfd2e6;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}
#termsBox table td {
  padding: 8px;
  border: 1px solid #cfd2e6;
}
#termsBox ul {
  margin: 0;
  padding: 0 0 0 20px;
}

@media (max-width: 420px) {
  .loginButton {
    right: 20px;
    top: 20px;
  }
  #header #logo img {
    margin-left: 0;
  }
  #header #logo {
    box-sizing: border-box;
    top: 0;
    background: #0f1326;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  #steps {
    padding: 20px 5px 2px 5px;
  }
  #steps .step {
    margin-bottom: 25px;
  }
}
